{% extends "encyclopedia/layout.html" %}
{% block title %} Adulting101 {% endblock %}
{% block body_content %}

	<div class="row">
	<div class="greeting-header text-center col-8 bg-light">
		<h1 class="ff_wiki font-weight-bolder text-dark">Welcome To ADULTING 101 !</h1>
		<p>
			<br>
			<br>

			<a><img src="https://www.linkpicture.com/q/Screenshot-1331.png" 
				type="image" alt="Finance Management " style="float: left; margin-right: 35px;" width="40%" height="500"></a>
			
				<br><br>
			<h2> A one stop solution for all Finances! </h2>
			<br>
			<h4 class="ff_wiki text-secondary">Ever had a feeling that the terms used in banks and financing platforms are kinda heavy, or like these responsibilities of Financial management were imposed
				to you without any proper information or knowledge, or if you are feeling to know and learn more about all the things Financial, then you are at the right place,
				ADULTING101! have got all your doubts covered at a single place! 
				<br>
				You can even Ask your doubts related to Financials, and also can answer one's doubts/Queries
				<h6><em>Please be authentic while asking or answering one's queries.</em></h6>
			</h4>

			<br><br><br><br><br><br><br>


			<h4>ATM's and Banks nearby: </h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11921.767908617323!2d76.98771973713177!3d31.775596929151465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3904e3601d03c41d%3A0x9ff93616483ad534!2sSTATE%20BANK%20OF%20INDIA%20ATM!5e0!3m2!1sen!2sin!4v1645936982651!5m2!1sen!2sin" width="800" height="250"  style="border:20px; float:inline-end" allowfullscreen="" loading="lazy"></iframe>
			<h6><em>To find more ATMs/Bank nearby you click <a href="https://www.google.com/maps/search/Banks%2FATMs+nearby+me" target="'_blank">here </a></em></h6>
		</p>
	</div>
	

	<div class="start-page px-3 bg-white pt-2 col-4">
		<h2>Filter Pages</h2>
		<div id="az_list" class="wiki-link-container">
			<form id="alphabet_form" action="" method="POST">
				{% csrf_token %}
				<ul class="btn-group">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						A-Z
					</button>
					<div class="dropdown-menu bg-light p-2">
						{% for letter in alphabet_list  %}
						<li class="link_{{letter}} mx-1">
							<a class="link_anchor font-weight-bold text-primary" data-value={{letter}} href="#"
								style="font-size: 13.5px;">
								{{letter}}
							</a>
						</li>
						{% endfor %}
						<input id="abc_input" type="hidden" name="letter" value="">
						<script>
							let abc_form = document.getElementById('alphabet_form')
							document.querySelectorAll('.link_anchor').forEach(function (btn) {

								btn.addEventListener('click', function (e) {
									e.preventDefault();
									document.getElementById("abc_input").value = btn.dataset.value;

									// Load spinner
									let spinner = document.getElementById('spinner');
									setTimeout(function () {
										/*only show spinner if loading takes more than one sec
											Other wise it get annoying to users */
										spinner.classList.remove('invisible');
									}, 1000)
									abc_form.submit();
								})
							})
						</script>
					</div>
				</ul>
			</form>
		</div>

		{# All avaialble Enties #}
		<div id="spinner" class="invisible  position-fixed mh-100 mw-50 h-100 w-50 ">
			<img
				src="https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg"
				alt="loading-spinner" class="d-block  w-25 mw-25 mh-25">
		</div>
		<div class="entry-content">
			<h5 class="font-weight-bold">Available Entry -
				<span class="badge badge-secondary px-2">{{entries|length}}</s>
			</h5>
			<ul>
				{% for entry in entries %}
				<li class="p-1">
					{# entry title and url #}
					<a href="{% url 'wiki_entry' entry %}"> {{ entry }} </a>
				</li>
				{% empty %}
				<li>
					<p class="p-1"> No entry was found</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<!-- Footer -->
<footer class="container-fluid bg-secondary">
	
	<div class="row">
		<div class="col-lg-3 col-16">
			<h4 class="font-rubik font-size-36"><hr>ADULTING 101!</h4>

			<p class="font-size-14 font-rale text-white-50">@ Indian Institute of Technology, Mandi<br>Kamand, Mandi -175075<br>Himachal Pradesh, India <br><br># 01905-267000</p>
		</div>
		<div class="col-lg-3 col-12">
			<h4 class="font-rubik font-size-20"><hr>Get to know Us!</h4>
			<h6 class="font-rubik font-size-20">___________________</h6>
			<div class="d-flex flex-column flex-wrap">

				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">The Team</a>


				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">FIG Mates</a>
				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Contact us</a>
				
				
				<a href='#' class='font-rale font-size-14 text-white-50 pb-1'>COVID Action</a>
			</div>
		</div>
		
		<div class="col-lg-3 col-12">
			<h4 class="font-rubik font-size-20"><hr>Find us @</h4>
			<h6 class="font-rubik font-size-20">______________</h6>
			<div class="d-flex flex-column flex-wrap">
				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Facebook</a>
				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">Twitter</a>
				<a href="#" class="font-rale font-size-14 text-white-50 pb-1">GitHub</a>

				<a href='#' class='font-rale font-size-14 text-white-50 pb-1'></a>
			</div>
		</div>
		<div class="col-lg-3 col-12">
			<h4 class="font-rubik font-size-20"><hr>Ping anyone of us @</h4>
			<h6 class="font-rubik font-size-20">______________</h6>
			<div class="d-flex flex-column flex-wrap">
				<a href="www.github.com/NuApt" target="_blank" class="font-rale font-size-14 text-white-50 pb-1">NuApt</a>
				<a href="www.github.com/Vishwas-10" target="_blank" class="font-rale font-size-14 text-white-50 pb-1">Vishwas-10</a>
				<a href="www.github.com/Ujjawal90" target="_blank" class="font-rale font-size-14 text-white-50 pb-1">Ujjawal90</a>

				<a href='#' class='font-rale font-size-14 text-white-50 pb-1'></a>
			</div>
		</div>

	</div>
</footer>
{% endblock %}